<form action="#" method="post" id="deviceForm" class="needs-validation" novalidate>
    <input sec:authorize="isAuthenticated()" name="device-id" id="device-id" type="hidden"/>
    <div class="form-group row">
        <label for="device-name" class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="device-name" name="name" placeholder="Device name">
            <div class="invalid-feedback">Device name is required</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="device-type" class="col-sm-4 col-form-label">Type</label>
        <div class="col-sm-8">
            <select class="" name="type" id="device-type"></select>
        </div>
    </div>
    <div class="form-group row">
        <label for="device-model" class="col-sm-4 col-form-label">Model</label>
        <div class="col-sm-8">
            <select class="" name="model" id="device-model"></select>                     
        </div>
    </div>
    <div class="form-group row">
        <label for="device-ipAddress" class="col-sm-4 col-form-label">IP Address</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="ipAddress" id="device-ipAddress" placeholder="IP Address">
            <div class="invalid-feedback">Please enter valid IP Address</div>
        </div>
    </div>
    <div class="form-group row">
       <label for="device-macAddress" class="col-sm-4 col-form-label">MAC Address</label>
       <div class="col-sm-8">
            <input type="text" class="form-control" name="macAddress" id="device-macAddress" placeholder="MAC Address">
            <div class="invalid-feedback">Please enter valid MAC Address</div>
        </div>
    </div>
    <div class="form-group row">
       <label for="device-serial" class="col-sm-4 col-form-label">Serial</label>
       <div class="col-sm-8">
            <input type="text" class="form-control" name="serial" id="device-serial" placeholder="Serial no.">
        </div>
    </div>
    <div class="form-group row">
       <label for="device-purchaseDate" class="col-sm-4 col-form-label">Purchased</label>
       <div class="col-sm-8">
            <input type="date" class="form-control" name="purchaseDate" id="device-purchaseDate">
        </div>
    </div>
    <div class="form-group row">
       <label for="device-comment" class="col-sm-4 col-form-label">Comment</label>
       <div class="col-sm-8">
            <input type="text" class="form-control" name="comment" id="device-comment" placeholder="Comment">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-close">Close</button>
        <button sec:authorize="hasAuthority('ADMIN')" type="submit" class="btn btn-primary">Save</button>
        <button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-primary btn-danger" id="modal-delete">Delete</button>
    </div>
</form>