<form action="#" method="post" id="userForm" class="needs-validation" novalidate>
    <input sec:authorize="isAuthenticated()" name="user-id" id="user-id" type="hidden"/>
    <div class="form-group row">
        <label for="username" class="col-sm-4 col-form-label">Username</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            <div class="invalid-feedback">Username is required</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="username" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <div class="invalid-feedback">Password is required</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="role" class="col-sm-4 col-form-label">User role</label>
        <div class="col-sm-8">
            <select class="" name="role" id="role"></select>
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="email" id="email" placeholder="Email">
            <div class="invalid-feedback">Invalid email address</div>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ADMIN')" class="form-group row" id="active-idv">
       <label for="active" class="col-sm-4 col-form-label">Account active</label>
       <div class="col-sm-8">
            <input type="checkbox" class="form-control" name="active" id="active">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
        <button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-primary btn-danger" id="modal-delete">Delete</button>
    </div>
</form>